<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <base href="../../" />
    <link rel="stylesheet" href="dmdoc.css" />
    <title>&#x2F;datum&#x2F;component&#x2F;pregnancy - VENUS Station 13</title>
</head>
<body>
<header>
    <a href="index.html">VENUS Station 13</a> -
    <a href="index.html#modules">Modules</a> -
    <a href="index.html#types">Types</a>
 &mdash; <a href="datum/component/pregnancy.html#var">Var Details</a></header>
<main>
<h1>pregnancy <aside>/<a href="datum.html">datum</a>/<a href="datum/component.html">component</a>/<a href="datum/component/pregnancy.html">pregnancy</a></aside>
        
    
            <a href="https://github.com/VENUS-Station/VENUS-Station-13/blob/66624fd25aeaa6daeb23886c2ce5427c8970212f/modular_splurt/code/datums/components/pregnancy.dm#L1">
        <img src="git.png" width="16" height="16" title="modular_splurt&#x2F;code&#x2F;datums&#x2F;components&#x2F;pregnancy.dm 1"/></a></h1>

<table class="summary" cellspacing="0"><tr><td colspan="2"><h2>Vars</h2></td></tr>
            <tr><th><a href="datum/component/pregnancy.html#var/oviposition">oviposition</a></th><td>this boolean is for identifying whether this preg is in the egg state or not</td></tr>
            <tr><th><a href="datum/component/pregnancy.html#var/pregnancy_breast_growth">pregnancy_breast_growth</a></th><td>breast growth</td></tr>
            <tr><th><a href="datum/component/pregnancy.html#var/pregnancy_inflation">pregnancy_inflation</a></th><td>this boolean is for saving whether or not we should inflate the belly if appropriate</td></tr>
            <tr><th><a href="datum/component/pregnancy.html#var/revealed">revealed</a></th><td>whether the pregnancy is revealed or not, scanners will reveal this no matter what</td></tr></table>
    <h2 id="var">Var Details</h2><h3 id="var/oviposition"><aside class="declaration">var </aside>oviposition
            <aside>&ndash; </aside>
        
    
            <a href="https://github.com/VENUS-Station/VENUS-Station-13/blob/66624fd25aeaa6daeb23886c2ce5427c8970212f/modular_splurt/code/datums/components/pregnancy.dm#L26">
        <img src="git.png" width="16" height="16" title="modular_splurt&#x2F;code&#x2F;datums&#x2F;components&#x2F;pregnancy.dm 26"/></a></h3>
        <p>this boolean is for identifying whether this preg is in the egg state or not</p><h3 id="var/pregnancy_breast_growth"><aside class="declaration">var </aside>pregnancy_breast_growth
            <aside>&ndash; </aside>
        
    
            <a href="https://github.com/VENUS-Station/VENUS-Station-13/blob/66624fd25aeaa6daeb23886c2ce5427c8970212f/modular_splurt/code/datums/components/pregnancy.dm#L30">
        <img src="git.png" width="16" height="16" title="modular_splurt&#x2F;code&#x2F;datums&#x2F;components&#x2F;pregnancy.dm 30"/></a></h3>
        <p>breast growth</p><h3 id="var/pregnancy_inflation"><aside class="declaration">var </aside>pregnancy_inflation
            <aside>&ndash; </aside>
        
    
            <a href="https://github.com/VENUS-Station/VENUS-Station-13/blob/66624fd25aeaa6daeb23886c2ce5427c8970212f/modular_splurt/code/datums/components/pregnancy.dm#L28">
        <img src="git.png" width="16" height="16" title="modular_splurt&#x2F;code&#x2F;datums&#x2F;components&#x2F;pregnancy.dm 28"/></a></h3>
        <p>this boolean is for saving whether or not we should inflate the belly if appropriate</p><h3 id="var/revealed"><aside class="declaration">var </aside>revealed
            <aside>&ndash; </aside>
        
    
            <a href="https://github.com/VENUS-Station/VENUS-Station-13/blob/66624fd25aeaa6daeb23886c2ce5427c8970212f/modular_splurt/code/datums/components/pregnancy.dm#L32">
        <img src="git.png" width="16" height="16" title="modular_splurt&#x2F;code&#x2F;datums&#x2F;components&#x2F;pregnancy.dm 32"/></a></h3>
        <p>whether the pregnancy is revealed or not, scanners will reveal this no matter what</p></main>
<footer>
    tgstation.dme
    <a href="https://github.com/VENUS-Station/VENUS-Station-13/tree/66624fd25aeaa6daeb23886c2ce5427c8970212f">66624fd</a>
        (master) &mdash; <a href="https://github.com/SpaceManiac/SpacemanDMM/blob/master/crates/dmdoc/README.md">dmdoc 1.8.0</a></footer>
</body>
</html>
