<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <base href="../../../" />
    <link rel="stylesheet" href="dmdoc.css" />
    <title>&#x2F;datum&#x2F;component&#x2F;identification&#x2F;syndicate - VENUS Station 13</title>
</head>
<body>
<header>
    <a href="index.html">VENUS Station 13</a> -
    <a href="index.html#modules">Modules</a> -
    <a href="index.html#types">Types</a>
</header>
<main>
<h1>syndicate <aside>/<a href="datum.html">datum</a>/<a href="datum/component.html">component</a>/<a href="datum/component/identification.html">identification</a>/<a href="datum/component/identification/syndicate.html">syndicate</a></aside>
        
    
            <a href="https://github.com/VENUS-Station/VENUS-Station-13/blob/e090a1452b7398f9a3791a4d64af97c544ce9e65/code/datums/components/identification.dm#L84">
        <img src="git.png" width="16" height="16" title="code&#x2F;datums&#x2F;components&#x2F;identification.dm 84"/></a></h1>

<p>Identification component subtype - Syndicate</p>
<p>Checks if the user is a traitor.</p></main>
<footer>
    tgstation.dme
    <a href="https://github.com/VENUS-Station/VENUS-Station-13/tree/e090a1452b7398f9a3791a4d64af97c544ce9e65">e090a14</a>
        (master) &mdash; <a href="https://github.com/SpaceManiac/SpacemanDMM/blob/master/crates/dmdoc/README.md">dmdoc 1.8.0</a></footer>
</body>
</html>
